<div class="main-container">
  <div class="outlet-container">
    <div class="nav-bar--container">
      <button (click)="onBack()" class="button" *ngIf="backButtonVisible">
        Back
      </button>

      <a
        routerLink="my-recipes"
        class="nav-link"
        (click)="backButtonVisible = true"
        >my recipes</a
      >
      <a
        routerLink="notifications"
        class="nav-link"
        (click)="backButtonVisible = true"
        >notifications</a
      >
      <a
        routerLink="favorites"
        class="nav-link"
        (click)="backButtonVisible = true"
        >favorites</a
      >
    </div>
    <router-outlet (activate)="backButtonVisible = true"></router-outlet>
  </div>
  <form
    *ngIf="backButtonVisible === false"
    class="form"
    (ngSubmit)="onSubmit()"
    #formRef
    [formGroup]="personalizeForm"
    autocomplete="off"
  >
    <div class="name-update--container">
      <p *ngIf="updateRes" class="update">{{ updateRes }}</p>
      <input
        type="text"
        formControlName="firstName"
        class="input"
        id="firstName"
        (blur)="onNameChange($event)"
        style="margin-top: 30px"
      />
      <button
        (click)="onNameChange($event)"
        type="button"
        class="button"
        id="firstName"
        style="margin-bottom: 20px"
      >
        Change First Name
      </button>
    </div>
    <div class="name-update--container">
      <input
        type="text"
        formControlName="lastName"
        class="input"
        id="lastName"
        (blur)="onNameChange($event)"
      />
      <button
        (click)="onNameChange($event)"
        type="button"
        class="button"
        id="lastName"
        style="margin-bottom: 20px"
      >
        Change Last Name
      </button>
    </div>
    <div class="img-form--container">
      <img
        class="profile-picture"
        [src]="imgSrc"
        alt="profile-picture"
        (click)="imgRef.click()"
      />

      <input
        style="display: none"
        type="file"
        #imgRef
        (change)="showPreview($event)"
        accept="image/*"
      />
      <button
        type="button"
        (click)="imgRef.click()"
        class="button"
        style="margin-top: 20px"
      >
        Attach file
      </button>
    </div>
    <div class="label-input--container">
      <label style="margin-bottom: 5px">Describe yourself</label>
      <textarea
        class="textarea"
        formControlName="desc"
        id=""
        cols="40"
        rows="10"
      ></textarea>
    </div>
    <button class="button" style="margin-top: 20px; margin-bottom: 50px">
      Save
    </button>
  </form>
</div>
