.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.name-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
  height: 15vh;
  max-height: 100px;
}
.profile-picture {
  display: flex;
  justify-content: center;
  width: 90%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.img-form--container {
  width: 100vw;
  height: 30vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.image-container {
  width: 50%;
  display: flex;
  justify-content: center;
}

.label-input--container {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 450px;
}
.form-input {
  text-align: center;
  border-radius: 3px;
  margin: 10px;
  height: 25px;
  border: solid black 1px;
}

.button {
  width: 100px;
  height: 25px;
  margin: 10px;
  border-radius: 4px;
  border: solid black 1px;
  transition: 0.2s;
}
.button:hover {
  width: 103px;
}
.file-input {
  display: none;
}

.textarea {
  resize: none;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
