<div class="main-container">
  <form class="form" (ngSubmit)="onPersonalize(formRef)" #formRef="ngForm">
    <div class="name-container">
      <input
        type="text"
        value="Name"
        [disabled]="!changeName"
        ngModel
        name="name"
        class="form-input"
      />
      <button (click)="onNameChange()" type="button" class="button">
        Change Name
      </button>
    </div>
    <div class="img-form--container">
      <div class="image-container">
        <img
          *ngIf="fileName"
          class="profile-picture"
          [src]="fileName"
          alt="profile-picture"
        />
        <p *ngIf="!fileName">
          Click the "attach file" button to upload an image!
        </p>
      </div>
      <input
        class="file-input"
        type="file"
        ngModel
        name="imgFile"
        #imgRef
        (change)="onFileSelected($event)"
      />
      <button type="button" (click)="imgRef.click()" class="button">
        Attach file
      </button>
    </div>
    <div class="label-input--container">
      <label style="margin-bottom: 5px">Describe yourself</label>
      <textarea
        class="textarea"
        ngModel
        name="description"
        id=""
        cols="40"
        rows="10"
      ></textarea>
    </div>
    <button class="button" type="submit">Save</button>
  </form>
</div>
