<div class="main-container">
  <form class="form" (ngSubmit)="onSubmit(formRef)" #formRef="ngForm">
    <div class="name-container">
      <input
        type="text"
        value="Name"
        [disabled]="!changeName"
        ngModel
        name="name"
        class="form-input"
      />
      <button
        (click)="onNameChange()"
        type="button"
        class="button"
        style="margin-bottom: 20px"
      >
        Change Name
      </button>
    </div>
    <div class="img-form--container">
      <img
        *ngIf="imgSrc"
        class="profile-picture"
        [src]="imgSrc"
        alt="profile-picture"
        (click)="imgRef.click()"
      />

      <input
        class="file-input"
        type="file"
        ngModel
        name="imgSrc"
        #imgRef
        (change)="showPreview($event)"
      />
      <button
        type="button"
        (click)="imgRef.click()"
        class="button"
        style="margin-top: 20px"
      >
        Attach file
      </button>
    </div>
    <div class="label-input--container">
      <label style="margin-bottom: 5px">Describe yourself</label>
      <textarea
        class="textarea"
        ngModel
        name="description"
        id=""
        cols="40"
        rows="10"
      ></textarea>
    </div>
    <button class="button" style="margin-top: 20px">Save</button>
  </form>
</div>
