@use "/src/scss/components/button";
@use "/src/scss/components/nav-link";
@use "/src/scss/components/input";
@use "/src/scss/components/textarea";
@use "/src/scss/components/label-container";
@use "/src/scss/components/update-modal";
@use "/src/scss/abstracts/colors" as colors;
@use "/src/scss/abstracts/fonts" as fonts;

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: fonts.$font;
  background-color: colors.$bGMain;
  color: colors.$primary;
  height: 100%;

  .outlet-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    .nav-bar--container {
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
        rgba(0, 0, 0, 0.24) 0px 1px 2px;
      display: flex;
      background-color: colors.$navBG;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      .nav-link {
        text-decoration: none;
        margin: 5px;
      }
      .button {
        margin: 10px;
      }
    }
  }
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .name-update--container {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      .input {
        text-align: center;
        width: 30%;
        margin-bottom: 0;
        max-width: 220px;
        min-width: 100px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        &:disabled {
          width: 25%;
          max-width: 200px;
          box-shadow: none;
        }
      }
    }
    .label-input--container {
      align-items: center;
      margin-top: 10px;
    }
    .img-form--container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      .profile-picture {
        display: flex;
        justify-content: center;
        width: 60%;
        max-width: 600px;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        transition: 0.2s;
        margin: 10px;
        &:hover {
          transform: scale(1.01);
        }
      }
    }
    .textarea {
      width: 60vw;
      max-width: 600px;
      margin: 10px;
    }
  }
}
