.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Playfair Display", serif;
  background-color: #ffb8662d;
  color: black;
}
.form {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.name-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.profile-picture {
  display: flex;
  justify-content: center;
  width: 60%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.2s;
}
.profile-picture:hover {
  transform: scale(1.01);
}
.img-form--container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.label-input--container {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 450px;
}
.form-input {
  text-align: center;
  border-radius: 3px;
  margin: 10px;
  height: 25px;
  border: solid black 1px;
}

.form-input:disabled {
  background-color: #e1ecf4;
}
.file-input {
  display: none;
}

.textarea {
  resize: none;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: "Playfair Display", serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button:hover,
.button:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.button:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}
.update {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: solid black 1px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
