.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Playfair Display", serif;
  background-color: #ffb8662d;
  color: black;
}
.form {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.name-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.profile-picture {
  display: flex;
  justify-content: center;
  width: 60%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.2s;
}
.profile-picture:hover {
  transform: scale(1.01);
}
.img-form--container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.label-input--container {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 450px;
}

.form-input {
  width: 50%;
  margin: 10px;
  height: 25px;
  outline: none;
  text-align: center;
  background-color: #68d3880e;
  border: solid #f43c095d 1px;
  border-radius: 2px;
  padding: 5px;
  transition: 0.1s;
  width: 51%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
/* .form-input:on {
  background-color: transparent;
  width: 51%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
} */

.form-input:disabled {
  box-shadow: none;
  width: 50%;
  margin: 10px;
  height: 25px;
  outline: none;
  text-align: center;
  background-color: #68d3880e;
  border: solid #f43c095d 1px;
  border-radius: 2px;
  padding: 5px;
  /* transition: 0.1s; */
}

.file-input {
  display: none;
}

.textarea {
  resize: none;
  border-radius: 3px;
  outline: none;
  background-color: #68d3880e;
  border: solid #f43c095d 1px;
  border-radius: 2px;
  padding: 5px;
  transition: 0.1s;
}
.textarea:focus {
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.button {
  background-color: #68d388b9;
  border-radius: 3px;
  margin: 10px;
  border: 1px solid #68d388;
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Playfair Display", serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  transition: 0.1s;
}

.button:hover {
  background-color: #68d3886e;
  color: #225e34;
}

.button:active {
  background-color: #68d388b9;
  box-shadow: none;
  color: white;
}

.update {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: solid black 1px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
