<form
  (ngSubmit)="onNext(formRef)"
  #formRef="ngForm"
  class="form"
  [ngClass]="{ 'slide-out': onSlideOut }"
>
  <div class="section">
    <h3>Ingredients</h3>

    <label for="name">Name</label>
    <p class="form-input--warning" *ngIf="!ingName.valid && ingName.touched">
      Please enter Valid Name
    </p>
    <input
      ngModel
      name="ingName"
      #ingName="ngModel"
      class="input"
      id="name"
      type="text"
      required
    />
    <label for="amount">Amount</label>
    <div class="measurement">
      <input
        ngModel
        name="numInput1"
        class="num-input"
        type="number"
        min="0"
        #numInput1
      />-
      <input
        id="amount"
        type="number"
        ngModel
        name="numInput2"
        min="0"
        class="num-input"
        #numInput2
      />
      /
      <input
        class="num-input"
        type="number"
        min="0"
        ngModel
        name="numInput3"
        #numInput3
      />
    </div>
    <label for="measurement">Measurement</label>
    <p class="input--warning" *ngIf="!measurement.valid && measurement.touched">
      Please enter a Measurement
    </p>
    <select
      class="input"
      ngModel
      name="measurement"
      #measurement="ngModel"
      required
    >
      <option disabled>Please Select a measurement</option>
      <option value="none">No Measurement</option>
      <option value="pinch">pinch</option>
      <option value="teaspoon">Teaspoon (Tsp)</option>
      <option value="tablespoon">Tablespoon (Tbsp)</option>
      <option value="cup">Cup</option>
      <option value="pint">Pint</option>
      <option value="quart">Quart</option>
      <option value="gallon">Gallon</option>
      <option value="ounce">Ounce</option>
      <option value="pound">Pound</option>
    </select>
    <button
      class="button"
      type="button"
      (click)="
        onAddIngredient(
          ingName.value,
          +numInput1.value,
          +numInput2.value,
          +numInput3.value
        )
      "
    >
      Add Ingredient
    </button>
    <ul
      class="li-container"
      *ngFor="let ingredient of ingredientsList; let i = index"
    >
      <li style="margin: 5px" [id]="i">
        <button
          (click)="onIngredientDelete($event)"
          class="li-delete--button"
          type="button"
        >
          x
        </button>
        {{ ingredient.ingAmount }} {{ ingredient.ingName }}
      </li>
    </ul>
    <button (click)="onBack()" class="button">Back</button>
    <button class="button" [disabled]="ingredientsList.length === 0">
      Next
    </button>
  </div>
</form>
