@use "/src/scss/components/button";
@use "/src/scss/components/form-input-warning";
@use "/src/scss/components/input";
@use "/src/scss/components/num-input";
@use "/src/scss/components/list-item-delete-button";

:host {
  width: 100%;
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  .section {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    .input {
      width: 60%;
      &:focus {
        width: 61%;
      }
    }
    .li-container {
      width: 60%;
      list-style-type: none;
    }
  }
  .button {
    margin: 10px;
  }
}

.slide-out {
  transition: 1s;
  transform: translate(-150%);
}
