.shake {
  animation-name: shake;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
@keyframes shake {
  0% {
    transform: translate(-5%);
  }
  25% {
    transform: translate(5%);
  }
  50% {
    transform: translate(-5%);
  }
  75% {
    transform: translate(5%);
  }
  100% {
    transform: translate(0%);
  }
}
