@use "/src/scss/abstracts/colors" as colors;
@use "/src/scss/abstracts/fonts" as fonts;

.button,
.button-danger {
  background-color: colors.$buttonBG;
  border-radius: 3px;
  margin: 20px;
  border: 1px solid colors.$buttonBorder;
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: colors.$buttonFontColor;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: fonts.$font;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  transition: 0.1s;
  &:hover {
    background-color: colors.$buttonHoverBG;
    color: colors.$buttonHoverFontColor;
  }
  &:active {
    background-color: colors.$buttonBG;
    box-shadow: none;
    color: colors.$buttonFontColor;
  }
  &:disabled {
    cursor: not-allowed;
    background-color: colors.$buttonHoverBG;
    color: colors.$buttonHoverFontColor;
  }
}
.button-danger {
  background-color: colors.$buttonDangerBG;
  border: 1px solid colors.$buttonDangerBorderColor;
  &:hover {
    background-color: colors.$buttonDangerBGHover;
    color: colors.$buttonDangerFontColor;
  }
  &:active {
    background-color: colors.$buttonDangerBG;
    color: colors.$buttonFontColor;
  }
}
