@use "/src/scss/abstracts/fonts" as fonts;
@use "/src/scss/abstracts/colors" as colors;

.num-input {
  width: 50px;
  height: 30px;
  text-align: center;
  margin-top: 10px;
  padding: 5px;
  margin-bottom: 20px;
  background-color: colors.$inputBG;
  border: solid colors.$inputBorderColor 1px;
  border-radius: 2px;
  outline: none;
  letter-spacing: 1px;
  font-family: fonts.$font;
  transition: 0.1s;
  &:focus {
    background-color: transparent;
    width: 51px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  &.ng-touched.ng-invalid {
    border-color: colors.$inputInvalidBorder;
  }
}
