<form
  (ngSubmit)="onSubmit(formRef)"
  #formRef="ngForm"
  class="form"
  [ngClass]="{ 'slide-out': onSlideOut }"
>
  <div class="section">
    <h3>Instructions</h3>
    <label for="time">Time</label>
    <p
      *ngIf="!stepCookTime.valid && stepCookTime.touched"
      class="form-input--warning"
    >
      Please enter a valid amount of time
    </p>
    <input
      class="num-input"
      id="time"
      type="number"
      ngModel
      name="stepCookTime"
      #stepCookTime="ngModel"
      min="0"
      required
    />
    <label for="dropdown">Unit Of Time</label>
    <p
      *ngIf="!unitOfTime.valid && unitOfTime.touched"
      class="form-input--warning"
    >
      Please enter a valid unit of time
    </p>
    <select
      class="input"
      ngModel
      name="unitOfTime"
      id="dropdown"
      #unitOfTime="ngModel"
      required
    >
      <option value="" disabled>Please Select a Unit</option>
      <option value="Second(s)">Second(s)</option>
      <option value="Minute(s)">Minute(s)</option>
      <option value="Hour(s)">Hour(s)</option>
    </select>

    <label for="description">Step Description</label>
    <p *ngIf="!stepDesc.valid && stepDesc.touched" class="form-input--warning">
      Please enter a valid description
    </p>
    <textarea
      id="description"
      ngModel
      name="stepDesc"
      type="text"
      class="textarea"
      #stepDesc="ngModel"
      required
    ></textarea>
    <ul
      class="li-container"
      *ngFor="let instruction of instructionsList; let i = index"
    >
      <li class="list-item" [id]="i">
        <button
          (click)="onInstructionDelete($event)"
          type="button"
          class="li-delete--button"
        >
          x</button
        >{{ "Step " }}{{ i + 1 }}{{ ". " + instruction.description
        }}{{ " " + instruction.time + " " + instruction.unit }}
      </li>
    </ul>
    <button
      class="button"
      type="button"
      (click)="onStepAdd(+stepCookTime.value, unitOfTime.value, stepDesc.value)"
    >
      Add Step
    </button>
    <button (click)="onBack()" class="button">Back</button>
    <button
      (click)="onNext()"
      class="button"
      [disabled]="instructionsList.length === 0"
    >
      Next
    </button>
  </div>
</form>
