:host {
  width: 100%;
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 450px;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
}
.form-input {
  width: 60%;
  margin: 10px;
  height: 25px;
  border: solid black 1px;
  border-radius: 3px;
}
input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border-color: red;
}
.num-input {
  width: 50px;
  text-align: center;
  border-radius: 3px;
  border: solid black 1px;
  margin: 10px;
}
.button {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  outline: none;
  padding: 8px 0.8em;
  margin: 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button:hover,
.button:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.button:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}
.button:disabled {
  cursor: not-allowed;
  opacity: 50%;
}
.warning {
  color: red;
  margin-top: 10px;
}
.li-container {
  width: 60%;
  list-style-type: none;
}
.list-item {
  margin: 5px;
}
.li-delete--button {
  color: white;
  background-color: rgba(255, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  border-radius: 5px;
  margin-right: 5px;
  border: none;
  transition: 0.2s;
  display: inline;
}
.li-delete--button:hover {
  background-color: red;
}
.li-delete--button:active {
  background-color: rgba(255, 0, 0, 0.5);
}
.form-textarea {
  width: 80%;
  max-width: 500px;
  height: 100px;
  resize: none;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
}
.slide-out {
  transition: 1s;
  transform: translate(-150%);
}
