<div class="section" [formGroup]="parentForm">
  <h3>Instructions</h3>
  <label for="time">Time</label>
  <input class="num-input" id="time" type="number" formControlName="cookTime" />
  <label for="dropdown">Unit Of Time</label>
  <select class="form-input" formControlName="unitOfTime" id="dropdown">
    <option value="" disabled>Please Select a Unit</option>
    <option value="second">Second(s)</option>
    <option value="minute">Minute(s)</option>
    <option value="hours">Hour(s)</option>
  </select>

  <label for="description">Step Description</label>
  <textarea
    id="description"
    formControlName="ingStepDesc"
    type="text"
    class="form-textarea"
  ></textarea>
  <ul
    class="li-container"
    *ngFor="let instruction of instructionsList; let i = index"
  >
    <li class="list-item" [id]="i">{{ instruction }} {{ instruction }}</li>
    <button
      (click)="onItemDelete($event)"
      class="li-delete--button"
      type="button"
    >
      x
    </button>
  </ul>
  <button class="button" type="button" (click)="onStepAdd()">Add Step</button>
</div>
