<form
  (ngSubmit)="onNext(formRef)"
  #formRef="ngForm"
  class="form"
  [ngClass]="{ 'slide-out': onSlideOut, 'slide-in': onSlideIn }"
>
  <div class="section">
    <label for="recipe-picture" *ngIf="!selectedImg">
      Please select a recipe picture
    </label>
    <img
      class="recipe-picture"
      [src]="imgSrc"
      alt="recipe-picture"
      (click)="imgRef.click()"
    />
    <input
      type="file"
      style="display: none"
      ngModel
      name="imgSrc"
      required
      #imgRef
      accept="image/*"
      (change)="showPreview($event)"
    />
    <button type="button" (click)="imgRef.click()" class="button">
      Attach file
    </button>
    <button (click)="onBack(formRef)" class="button">Back</button>
    <button class="button" [disabled]="!selectedImg">Next</button>
  </div>
</form>
