@use "/src/scss/components/button";

:host {
  width: 100%;
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  transform: translate(100%);
  .section {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    .recipe-picture {
      width: 100%;
      border-radius: 10px;
      margin: 10px;
    }
  }
  .button {
    margin: 10px;
  }
}

.slide-out {
  transition: 0.5s;
  transform: translate(-150%);
}
.slide-in {
  transition: 0.8s;
  transform: translate(0%);
}
