<div class="section">
  <label for="recipe-picture"> Recipe Picture </label>
  <img
    *ngIf="fileName !== ''"
    class="recipe-picture"
    [src]="fileName"
    alt="recipe-picture"
  />
  <input
    class="file-input"
    type="file"
    ngModel
    name="imgFile"
    #imgRef
    (change)="onFileSelected($event)"
  />
  <button class="button" type="button" (click)="imgRef.click()">
    Choose File
  </button>
  <button (click)="onBack()" class="button">Back</button>
  <button (click)="onNext()" class="button">Next</button>
</div>
