<div class="recipe-container">
  <div class="back-button--container">
    <button class="button" (click)="onBackClick()">back to recipes</button>
  </div>
  <h1 class="header">{{ recipe.recipeName }}</h1>

  <img
    class="recipe-img"
    [src]="recipe.imgName"
    alt="{{ recipe.recipeName }}"
  />
  <h3>Description</h3>
  <p>{{ recipe.desc }}</p>
  <div class="ingredients" *ngFor="let ing of recipe.ingredients">
    <h3>Ingredients</h3>
    <ul>
      <li>{{ ing.ingAmount + " " + ing.ingName }}</li>
    </ul>
  </div>
  <div class="instructions" *ngFor="let instruction of recipe.instructions">
    <h3>Instructions</h3>
    <ul>
      <li>
        {{
          instruction.description +
            " (" +
            instruction.time +
            " " +
            instruction.unit +
            ".)"
        }}
      </li>
    </ul>
  </div>
  <div>{{ recipe.conclusion }}</div>
</div>
