.recipe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-img {
  width: 80vw;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.back-button--container {
  display: flex;
  background-color: antiquewhite;
  width: 100%;
}
.button {
  margin: 10px;
  width: 100px;
  height: 25px;
  border-radius: 4px;
  border: solid black 1px;
  transition: 0.2s;
}
.button:hover {
  width: 103px;
}
.conclusion-container {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instructions-section,
.ingredients-section {
  background-color: aquamarine;
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.instructions-container,
.ingredients-container {
  width: 60%;
  max-width: 600px;
}

.list {
  background-color: purple;
}
.section-header {
  margin: 10px;
  background-color: azure;
  display: flex;
  justify-content: center;
}
