$bGMain: #ffb8662d;
$searchBG: antiqueWhite;
$navBG: whitesmoke;
$inputBG: #68d3880e;

$primary: black;
$secondary: #68d388;
$tertiary: #f43a09;

$errorBG: rgba(255, 0, 0, 0.5);
$errorBorder: red;

$headerLineColor: rgba(0, 0, 0, 0.222);
$sectionBottomBorder: #ffb766;

$inputBorderColor: #f43c095d;
$inputInvalidBorder: red;
