<div class="nav-bar--container">
  <div class="header-title">
    <h2><a routerLink="/home">Just Recipes</a></h2>
    <p>just recipes, no fluff.</p>
  </div>

  <div class="link-container">
    <a *ngIf="isAuthenticated" routerLink="/new-recipe">Create New Recipe</a>
    <a routerLink="/browse-recipes">Browse Recipes</a>
    <a *ngIf="isAuthenticated" routerLink="/personalize">Personalize Account</a>
    <a *ngIf="isAuthenticated" routerLink="/login">Logout</a>
    <a *ngIf="!isAuthenticated" routerLink="/login">Login</a>
  </div>
</div>
