<div class="nav-bar--container">
  <div class="header-title">
    <h2><a routerLink="/browse-recipes">Just Recipes</a></h2>
    <p>just recipes, no fluff.</p>
  </div>

  <div class="link-container">
    <a *ngIf="isAuthenticated" routerLink="/new-recipe" class="nav-link"
      >New Recipe</a
    >
    <a routerLink="/browse-recipes" class="nav-link">Browse Recipes</a>
    <a *ngIf="isAuthenticated" routerLink="/personalize" class="nav-link"
      >My Account</a
    >
    <a *ngIf="isAuthenticated" routerLink="/login" class="nav-link">Logout</a>
    <a *ngIf="!isAuthenticated" routerLink="/login" class="nav-link">Login</a>
  </div>
</div>
