/* Brightly Orange Number 2: #f43a09

Grandpa Orange: #ffb766

Grey Blue Green: #c2edda

Live Green: #68d388 */

.nav-bar--container {
  height: 20vmin;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  display: flex;
  background-color: whitesmoke;
  justify-content: space-around;
  align-items: center;
  font-family: "Playfair Display", serif;
}
.under-title {
  color: #f43a09;
}
.link-container {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.header-title {
  width: 30%;
  max-width: 400px;
}
.nav-link {
  text-decoration: none;
  transition: 0.2s;
  color: black;
}
.nav-link--main {
  color: #68d388;
  text-decoration: none;
  transition: 0.2s;
}
.nav-link:hover,
.nav-link--main:hover {
  color: blue;
  text-decoration: underline;
}

@media (max-width: 500px) {
  .nav-link {
    font-size: small;
  }
  .header-title {
    font-size: 75%;
  }
}

@media (max-width: 400px) {
  .nav-link {
    font-size: small;
  }
  .header-title {
    font-size: 100%;
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .under-title {
    font-size: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-left: 10px;
    padding-bottom: 3px;
  }
  .nav-bar--container {
    flex-direction: column;
  }
  .link-container {
    width: 100%;
    justify-content: space-around;
  }
}
