@use "/src/scss/components/header-line";
@use "/src/scss/components/header";
@use "/src/scss/components/button";
@use "/src/scss/abstracts/colors" as colors;
@use "/src/scss/abstracts/fonts" as fonts;

.recipe-form--container {
  height: 100vh;
  display: flex;
  font-family: fonts.$font;
  background-color: colors.$bGMain;
  color: colors.$primary;
  flex-direction: column;
  align-items: center;
  .header {
    width: 80%;
    text-align: center;
  }
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
