<div class="form-container">
  <form
    class="form"
    (ngSubmit)="onLogin(formRef)"
    #formRef="ngForm"
    autocomplete="off"
  >
    <div class="error" *ngIf="errorMessage">
      <p>Please enter a valid email and password</p>
    </div>
    <div class="label-input--container">
      <label for="email">E-mail</label>
      <input class="input" id="email" type="email" ngModel name="email" email />
    </div>

    <div class="label-input--container">
      <label for="password">Password</label>
      <input class="input" type="password" ngModel name="password" />
    </div>

    <button role="button" class="button">Log in</button>
    <p>
      not a member? <a routerLink="/signup" class="nav-link">Sign up here!</a>
    </p>
  </form>
</div>
