.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  font-family: "Playfair Display", serif;
  background-color: #ffb8662d;
  color: black;
  padding-bottom: 100px;
}

.form {
  width: 50%;
  /* height: 100%; */
  max-width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.label-input--container {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 450px;
}

.input {
  height: 25px;
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: solid black 1px;
}

.button {
  background-color: #68d388b9;
  border-radius: 3px;
  margin: 20px;
  border: 1px solid #68d388;
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Playfair Display", serif;
  font-size: 13px;
  max-width: 100px;
  font-weight: 400;
  line-height: 1.15385;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  transition: 0.1s;
}

.button:hover {
  background-color: #68d3886e;
  color: #225e34;
}

.button:active {
  background-color: #68d388b9;
  box-shadow: none;
  color: white;
}
.error {
  text-align: center;
  background-color: rgba(255, 0, 0, 0.5);
  border: solid red 1px;
  border-radius: 2px;
  padding: 10px;
  margin-bottom: 10px;
}
.nav-link:hover {
  color: blue;
}
