<div class="browse-recipes--container">
  <div *ngIf="firstName" class="welcome-container">
    <div class="welcome-inner--container">
      <p>{{ "Welcome" + " " + firstName + "!" }}</p>
    </div>
  </div>
  <h1 class="header">Browse Recipes</h1>
  <div class="label-input--container">
    <label class="label" for="recipe-search">Search by recipe Name</label>
    <input class="input" id="recipe-search" type="text" #inputRef />
    <button class="button" (click)="onSearch(inputRef.value)">search</button>
  </div>

  <div
    [id]="i"
    [routerLink]="[i, recipe.recipeName]"
    class="indiv-recipe"
    *ngFor="let recipe of recipes; let i = index"
  >
    <div class="recipe-name--desc">
      <h2>{{ recipe.recipeName }}</h2>
      <p>{{ recipe.desc }}</p>
    </div>
    <img
      [src]="recipe.imgName"
      alt="{{ recipe.recipeName }}"
      class="recipe-image"
    />
  </div>
</div>
