.browse-recipes--container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Playfair Display", serif;
  background-color: #ffb8662d;
  color: black;
}
.header {
  margin-top: 10px;
}
.welcome-container {
  width: 100%;
}

.welcome-inner--container {
  width: 40%;
  height: 100%;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
}

.search-container {
  width: 80%;
  background-color: antiquewhite;
  display: flex;
  max-width: 600px;
  flex-direction: column;
  justify-content: space-around;
  margin: 30px;
  padding: 20px;
}

.input {
  width: 50%;
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 20px;
  height: 25px;
  outline: none;
  background-color: #68d3880e;
  border: solid #f43c095d 1px;
  border-radius: 2px;
  padding: 5px;
  transition: 0.1s;
}
.input:focus {
  background-color: transparent;
  width: 51%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.label {
  margin-left: 10px;
}

.recipe-image {
  height: 100%;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.img-container {
  display: flex;
  justify-content: flex-end;
  width: 30%;
}
.button {
  background-color: #68d388b9;
  border-radius: 3px;
  margin: 20px;
  border: 1px solid #68d388;
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Playfair Display", serif;
  font-size: 13px;
  max-width: 100px;
  font-weight: 400;
  line-height: 1.15385;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  transition: 0.1s;
}

.button:hover {
  background-color: #68d3886e;
  color: #225e34;
}

.button:active {
  background-color: #68d388b9;
  box-shadow: none;
  color: white;
}

.indiv-recipe {
  width: 80%;
  height: 20vmin;
  border-bottom: solid #ffb766 1px;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  margin: 20px;
  border-radius: 3px;
  transition: 0.2s;
  display: flex;
  justify-content: space-between;
}
.indiv-recipe:last-of-type {
  margin-bottom: 50px;
}
.indiv-recipe:hover {
  opacity: 0.9;
  width: 81%;
}
.recipe-name--desc {
  width: 70%;
  padding: 10px;
}

@media (max-width: 400px) {
  .recipe-name--desc {
    font-size: 75%;
  }
}
