<div class="browse-recipes--container">
  <div *ngIf="firstName" class="welcome-container">
    <div class="inner-welcome--container">
      <p>{{ "Welcome" + " " + firstName + "!" }}</p>
    </div>
  </div>
  <h1 class="header">Browse Recipes</h1>
  <hr class="line" style="width: 80%" />
  <div class="search-container">
    <label style="margin-left: 10px" for="recipe-search"
      >Search by recipe Name</label
    >
    <input
      class="input"
      style="width: 60%; margin-left: 10px"
      id="recipe-search"
      type="text"
      #inputRef
      (input)="refreshPosts(inputRef.value)"
      autocomplete="off"
    />
    <button
      class="button"
      style="max-width: 100px"
      (click)="onSearch(inputRef.value)"
    >
      search
    </button>
  </div>

  <div
    [id]="i"
    [routerLink]="[i, recipe.recipeName]"
    class="indiv-recipe"
    *ngFor="let recipe of recipes; let i = index"
  >
    <div class="recipe-name--desc">
      <h2>{{ recipe.recipeName }}</h2>
      <p (window:resize)="onWindowChange($event)">
        {{ recipe.desc | truncate : onWindowChange() }}
      </p>
    </div>
    <div class="img-container">
      <img
        [src]="recipe.imgPath"
        alt="{{ recipe.recipeName }}"
        class="recipe-image"
      />
    </div>
  </div>
</div>
