@use "/src/scss/components/input";
@use "/src/scss/components/button";
@use "/src/scss/abstracts/animations/shake-animation";
@use "/src/scss/components/form-input-warning";
@use "/src/scss/abstracts/animations/slide-out";

:host {
  width: 100%;
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  .section {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    .input {
      width: 60%;
      &:focus {
        width: 61%;
      }
    }
  }
}
