<form
  (ngSubmit)="onPublish(formRef)"
  #formRef="ngForm"
  class="form"
  *ngIf="!submitted"
>
  <div class="section">
    <h3>Conclusion</h3>
    <p
      *ngIf="!conclusion.valid && conclusion.touched"
      class="form-input--warning"
    >
      Please enter a valid conclusion
    </p>
    <textarea
      class="textarea"
      ngModel
      name="conclusion"
      #conclusion="ngModel"
      required
    ></textarea>
    <button (click)="onBack()" class="button">Back</button>
    <button class="button" [disabled]="!conclusion.valid">Publish</button>
  </div>
</form>

<div *ngIf="submitted">
  <p>
    You have submitted your recipe! you can view it here by following
    <a routerLink="/browse-recipes">this link</a>
  </p>
</div>
